.container {
  font-family: Roboto;
  position: relative;
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #A8A8A8;
  font-size: 13px;
  line-height: 19px;
  padding: 0 30px;
}

.container:before {
  content: '';
  width: calc(100% - 60px);
  height: 1px;
  background: #E9E9E9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}